<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jzdy.dao.AdminMapper">

  <!--查询用户总数  -->
  <select id="countUser" resultType="long">
  		SELECT
  			COUNT(id)
  		FROM
  			u_user 	 
  </select>
  
  <!-- 用户列表 -->
  <select id="countUserList" resultType="map">
  		SELECT
  			*
  		FROM
  			u_user
  		<if test="userDto.name != null and userDto.name != ''">
  			where name = #{userDto.name}
  		</if>
  		LIMIT #{userDto.countPageStart},#{userDto.pageTotal}
  </select>
  
  
  <!-- 查询用户 -->
  <select id="selectUserByUserId" resultType="User">
  		SELECT
  			*
  		FROM
  			u_user
  		WHERE id = #{userId}
  </select>
  
  
  
   <!-- 更新status -->
  <select id="updateStauts" resultType="int">
  		UPDATE
  			u_user
  		SET status = 2
  		WHERE id = #{userId}
  </select>
  
  
</mapper>



