<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jzdy.dao.CarMapper">
  <select id="findHotBrand" resultType="map">
  	SELECT
		d.`VALUE`,
		d.IMAGE_URL
	FROM
		dict d
	WHERE
		d.SORT = 'CAR_BRAND'
	LIMIT 0,
	 16
  </select>
  <select id="findHotCar" resultType="map">
  	SELECT
		c.IMG_URL,
		(SELECT d.`VALUE` FROM dict d WHERE d.`KEY`=c.CAR_BRAND AND d.SORT='CAR_BRAND') CAR_BRAND,
		c.GUIDE_PRICE
	FROM
		c_car c
	WHERE 
	c.LEVER = #{carType}
  </select>
  <select id="findSalesVolumeCar" resultType="map">
  	SELECT
		cc.name,
		SUM(o.NUMBER) number
	FROM
		o_order o
	LEFT JOIN c_car cc ON cc.ID = o.CAR_ID
	WHERE
		o.CAR_ID IN (SELECT c.ID FROM c_car c)
	GROUP BY
		cc.ID
LIMIT 0,5
  </select>
</mapper>