<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jzdy.dao.RoleMapper">
  <select id="finRoleByUserId" resultType="role">
    SELECT
		*
	FROM
	u_role u
	LEFT JOIN
	u_user_role_key urk
	ON u.id = urk.ROLE_ID
	WHERE urk.USER_ID = #{id}
  </select>
</mapper>