<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jzdy.dao.UserMapper">
 
  <select id="findUserByUsernameAndPassword" resultType="user">
    SELECT
		u.ID,
		u.USERNAME,
		u.PASSWORD,
		u.MAIL,
		u.PHONE,
		u.CREATE_TIME,
		u.UPDATE_TIME,
		u.STATUS,
		u.NAME,
		u.SEX,
		u.AGE,
		u.ADDRESS
	FROM
		u_user u
	WHERE u.USERNAME = #{username}
	AND u.`PASSWORD` = #{password}
  </select>
</mapper>