<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jzdy.dao.UserMapper">
 
  <select id="findUserByUsernameAndPassword" resultType="user">
    SELECT
		u.ID,
		u.USERNAME,
		u.PASSWORD,
		u.MAIL,
		u.PHONE,
		u.CREATE_TIME,
		u.UPDATE_TIME,
		u.STATUS,
		u.NAME,
		u.SEX,
		u.AGE,
		u.ADDRESS
	FROM
		u_user u
	WHERE u.USERNAME = #{username}
	AND u.`PASSWORD` = #{password}
  </select>
  
   <!-- 插入用户注册信息 -->
  <insert id="insertUserRegister" parameterType="user">
  	INSERT INTO u_user 
  		VALUES(#{user.id},
  			   #{user.username},
  			   #{user.password},
  			   #{user.mail},
  			   #{user.phone},
  			   #{user.createTime},
  			   #{user.updateTime},
  			   #{user.status},
  			   #{user.name},
  			   #{user.sex},
  			   #{user.age},
  			   #{user.address})
  </insert>
  <!-- 判断是否是已注册的用户 -->
  <select id="isUser" resultType="int">
  	SELECT
  		COUNT(phone)
  	FROM
  		u_user
  	WHERE 
  		phone = #{phone}		  
  </select>
  
  
  <update id="updateUser" parameterType="userParam">
  	update
  		u_user
  	set mail = #{mail} ,
  		phone = #{phone}
  		where id = #{id}
  </update>
  
  
</mapper>